* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(139,0,139);
    background-image: linear-gradient(90deg, rgb(18, 6, 43), rgb(26, 8, 63));
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px auto;
    box-sizing: border-box;
    background-attachment: scroll;
    font-size: 12px;
    font-family: montserrat-regular, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #151a25; 
}

::-webkit-scrollbar-thumb {
    background: #293347; 
}

::-webkit-scrollbar-thumb:hover {
    background: #34405a; 
}

header
{
    width: 100%;
    height: 100vh;
    position: relative;
}

a
{
    text-decoration: none;
    color: inherit;
}

.svglogo
{
    display: none;
    z-index: 1;
    top: 100px;
}

.cyberLogo
{
    top: 0px;
    display: block;
    z-index: 999;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-animation: 1.5s ease-in-out infinite alternate;
    -moz-animation: 1.5s ease-in-out infinite alternate;
    animation: 1.5s ease-in-out infinite alternate;
}

.cyberLogo:hover
{
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-animation: 1.5s ease-in-out infinite alternate;
    -moz-animation: 1.5s ease-in-out infinite alternate;
    animation: 1.5s ease-in-out infinite alternate;
    filter: url(#red-glow);
}

.nav-ul
{
    height: 8rem;
    list-style: none;
    display: inline-block;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-left: 2%;
    z-index: 2;
}

nav ul li
{
    padding: 0 3rem;
    line-height: 8rem;
    transition: background-color;
    display: inline-block;
    text-align: center;
}

nav ul li:hover
{
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear; 
    background-color: rgba(0,0,0,.075);
    color: #9370DB;
}

.nav-right ul li
{
    border-right: 1px solid rgba(0,0,0,.075);
}

.nav-right ul li:nth-child(1)
{
    border-left: 1px solid rgba(0,0,0,.075);
}

.nav-right ul li:last-child
{
    border-right: none;
}

.nav-right i
{
    margin-right: 1rem;
}

.nav-right i:first-child
{
    margin-right: 0;
}

.nav-logo 
{
    float: left;
    padding: 10px 8px 8px 35px;
}

.nav-login, .nav-register, .nav-profile, .nav-basket, .nav-signout
{
    float: right;
    text-decoration: none;
    display: block;
    margin: 22px 25px 8px 8px;
    font-size: 1.4rem;
    position: relative;
    padding: 15px;
    background-color: rgb(43, 54, 77);
    border-radius: 8px;
    -webkit-transition: 0.8s linear;
    transition: 0.8s linear; 
}

.nav-login:hover {
    -webkit-transition: 0.8s linear;
    transition: 0.8s linear; 
    background: #26d982;
    box-shadow: 0 0 20px #26d982;
}

.nav-register:hover {
    -webkit-transition: 0.8s linear;
    transition: 0.8s linear; 
    background: #b8d926;
    box-shadow: 0 0 20px #b8d926;
}

/*.nav-signout {
    margin: 22px 22px 8px 8px;
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 15px;
    padding-right: 15px;
}*/

.nav-signout:hover {
    -webkit-transition: 0.8s linear;
    transition: 0.8s linear; 
    background: #f75c6f;
    box-shadow: 0 0 20px #f75c6f;
}

/*.nav-profile {
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 24px;
    padding-top: 24px;
    margin: 22px 22px 8px 8px;
}*/

.nav-profile:hover {
    -webkit-transition: 0.8s linear;
    transition: 0.8s linear; 
    background: #9fdfcd;
    box-shadow: 0 0 20px #9fdfcd;
}

.nav-basket {
    padding: 5px 15px;
}

.nav-basket:hover {
    -webkit-transition: 0.8s linear;
    transition: 0.8s linear; 
    background: #769ECB;
    box-shadow: 0 0 20px #769ECB;
}

.navbar
{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(147, 112, 219, .2);
}

.animation-div
{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1,h2 
{
    font-weight: 200;
    margin: 0.4em 0;
}

h1 
{
    font-size: 3.5em;
}

h2
{
    color: #888;
    font-size: 2em;
}

.authErr
{
    margin-top: 1px;
    font-size: 3em;
    display: inline-block;
    text-align: left;
}

.authErrH1
{
    margin-top: 50px;
    font-size: 2em;
    display: block;
    text-align: center;
}

.heading
{
    text-align: center;
    position: relative;
    margin: 60px 0px 60px 0px;
}

.featureText
{
    color: rgb(255, 255, 255);
}

.features, .faqs {
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-bottom: 0;
}

.sectionContainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

.items {
    display: inline-block;
}

.nav-logos {
    max-height: 20px;
    vertical-align: middle;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav-icons {
    flex-direction: row;
    margin-top: 38px;
    margin-right: 3%;
    float: right;
    z-index: 2;
}

.nft-header-showcase {
    z-index: 1;
    position: relative;
    text-align: center;
    color: white;
}

.nft {
    width: 100%;
}

.container {
    padding-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
}

.row {
 display: flex;
}

.segment {
    margin: 2%;
}

.left {
    width: 41%;
}

.right {
    
}

.textbox-h {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.textbox {
    font-size: 1.9rem;
    line-height: 1.9;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.line {
    width: 70%;
    border-top: 5px solid #9370DB;
}

.line-reversed {
    margin-left: auto;
    margin-right: 0;
    width: 70%;
    border-top: 5px solid #9370DB;
}

.partners {
    max-width: 350px;
    max-height: 200px;
    margin: 3%;
}

.single {
    width: 75%
}

.social-buttons {
    color: white;
    height: 60px;
    width: 200px;
    transform: translateX(100%);
    display: block;
    z-index: 10;
    transition: transform 0.3s ease-in;
    align-items: center;
    text-decoration: none;
    margin: 20px;
    border-radius: 8px;
    font-size: 1.7rem;
    padding: 15px;
    -webkit-transition: 0.8s linear;
    transition: 0.8s linear; 
    border: none;
    cursor: pointer;
}

.opensea-button {
    background-color: rgb(172, 209, 235);
}

.opensea-button:hover {
    background: #7ecbff;
    box-shadow: 0 0 20px #7ecbff;
}

.twitter-button {
    background-color: rgb(29, 155, 240);
}

.twitter-button:hover {
    background: #3bb1ff;
    box-shadow: 0 0 20px #3bb1ff;
}

.discord-button {
    background-color: rgb(88, 101, 242);
}

.discord-button:hover {
    background: #626fff;
    box-shadow: 0 0 20px #626fff;
}

.social-buttons:hover {
    -webkit-transition: 0.8s linear;
    transition: 0.8s linear; 
}

.open-sea-icon {
    max-height: 25px !important;
}

.nft-mint-img {
    max-height: 400px;
}

.mint-button {
    background-color: rgb(12, 170, 136);
}

.mint-button:hover {
    background: #50ebd6;
    box-shadow: 0 0 20px #50ebd6;
}

.left-h {
    width: 45%;
    margin-top: auto;
    margin-bottom: auto;
}

.right-h {
    width: 55%;
}

.box {
    border-radius: 12px;
    background: linear-gradient(225deg,rgb(104, 151, 150),rgba(37, 66, 66, 0));
}

.purple {
    color: #9370DB;
}

.cover {
    font-size: 3.8rem;
    font-weight: bold;
}

/* Roadmap */

.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
}

/* Card container */
.card {
    position: relative;
    max-width: 100%;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #9370DB;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
    left: 0px;
    top: -8px;
    bottom: -8px;
    border-width: 8px 0 8px 8px;
    border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
    .card:nth-child(odd)::before {
        top: -5px;
        bottom: -5px;
    }
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 8px 8px 8px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    background: linear-gradient(225deg,#3d2384,rgba(28,14,47,0));
    color: #ffff;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.6rem;
    line-height: 1.6;
}

/* Title of the card */
.title {
    color: #ffff;
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 4px solid #390d92;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
    text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
    left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
    right: -45px;
}

.roadmap {
    width: 100%;
}

.textbox-h-roadmap {
    font-size: 3rem;
    text-align: center;
    margin: 5%;
}

.left-r {
 width: 50%;
}

.right-r {
 max-width: 50%;
}

.rd-2 {
    margin-top: 20% !important;
}

.main-right {
    margin-right: 0 !important;
}

.rd-container {
    position: relative;
    top: 12%;
}